/*
0-600px Phone
600-900 Tablet portrait
900-1200 tablet landscape
1200-1800 normal styles
1800+ big desktop
*/
/*
$breakpoint argument choices:
- Phone- tab=port
-tab-land
-big-desktop
*/
@keyframes brandfade {
  0% {
    opacity: 0;
    transform: translate(-50%, -160%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -70%); } }

@keyframes navbarin {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw; }
  @media (max-width: 37.5em) {
    body {
      height: 160vh; } }

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden; }

.element::-webkit-scrollbar {
  width: 0 !important; }

.element::-webkit-scrollbar {
  width: 0 !important; }

html {
  font-family: Merriweather, sans-serif; }

.header {
  font-size: 1.8rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px; }
  .header__number {
    font-size: 1.55rem;
    text-decoration: none;
    color: white;
    font-weight: bold; }
    .header__number--2 {
      opacity: 0; }
    .header__number--3 {
      margin-left: 0.5rem; }
  .header__fa-icon {
    font-size: 3rem; }
    .header__fa-icon--1 {
      color: #53FF53 !important; }
    .header__fa-icon--2 {
      width: 100%; }
  .header__brand {
    font-size: 10rem;
    text-transform: none;
    font-weight: bold;
    letter-spacing: 0;
    -webkit-background-clip: text;
    color: white; }
    @media (max-width: 95em) {
      .header__brand {
        font-size: 5rem; } }
    @media (max-width: 37.5em) {
      .header__brand {
        font-size: 2rem; } }
  .header__dropdown {
    font-size: 2rem; }
    .header__dropdown--1 ul {
      display: flex;
      flex-direction: column; }
      .header__dropdown--1 ul li a {
        text-decoration: none; }
    .header__dropdown--2 ul {
      display: flex;
      flex-direction: column;
      font-size: 1.7rem;
      color: white; }
      .header__dropdown--2 ul li {
        margin-top: 1rem; }
        .header__dropdown--2 ul li a {
          text-decoration: none;
          color: white; }

.no-decor {
  text-decoration: none; }
  .no-decor--2 {
    color: white; }
  .no-decor--3 {
    color: #29AD00; }
  .no-decor--4 {
    color: #F04D0F; }
  .no-decor--5 {
    color: white; }

.navbutton__background {
  text-transform: uppercase; }
  .navbutton__background ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold; }

.price {
  color: white;
  font-size: 3rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between; }
  .price__tag {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    align-self: center;
    margin-left: 3rem; }
  .price__disclaimer {
    margin-top: 2rem;
    font-size: 1.3rem;
    color: white;
    font-weight: bold; }

.popup--3 {
  color: white; }
  .popup--3 ul {
    list-style: none;
    font-weight: 2rem; }
    .popup--3 ul li {
      font-size: 2rem;
      font-weight: bold; }
  .popup--3__heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px; }
  .popup--3__footer {
    font-size: 2rem; }

.infobox {
  text-align: center; }
  .infobox__header {
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin-top: 3rem; }
    @media (max-width: 37.5em) {
      .infobox__header {
        margin-top: 4rem; } }
  .infobox__footer {
    font-size: 1.6rem;
    color: white;
    margin-top: 5rem;
    font-weight: bold;
    letter-spacing: 2px; }
    @media (max-width: 37.5em) {
      .infobox__footer {
        margin-top: 2rem; } }
  .infobox__list {
    margin-top: 6rem;
    list-style: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5rem; }
    @media (max-width: 37.5em) {
      .infobox__list {
        font-size: 1.25rem;
        margin-top: 2rem; } }
    .infobox__list li hr {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid white;
      margin-top: .8rem; }
  .infobox__icon {
    margin-top: 4rem;
    color: white; }
    @media (max-width: 37.5em) {
      .infobox__icon {
        margin-top: 1.5rem; } }
  .infobox__item:not(:last-child) {
    margin-bottom: 2.5rem; }
    @media (max-width: 37.5em) {
      .infobox__item:not(:last-child) {
        margin-bottom: 1rem; } }

.opacity-toggle {
  opacity: 1 !important;
  transition: .5s ease-in; }

.highz {
  z-index: 10001 !important;
  display: flex !important; }

.higherz {
  z-index: 10010 !important; }

.dropdown-roll {
  opacity: 1 !important; }

.header-enlarge {
  transform: scale(1.1);
  transition: .2s ease-in; }

.no-radius {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

.turn {
  transform: rotate(180deg) !important;
  transition: .2s ease-in; }

.indented {
  position: relative;
  z-index: 999999999;
  width: 12.43rem; }
  .indented:hover {
    background-color: #3ab1a2; }

.help {
  padding: .5rem; }

.active__translation {
  background-color: #3ab1a2 !important;
  opacity: 1 !important; }

@media (max-width: 22.5em) {
  .navbutton__icons {
    transform: scale(0.75) !important;
    margin-bottom: 0; } }

.popup {
  position: fixed;
  width: 70rem;
  height: 50rem;
  z-index: 5;
  background-color: #fcfcfc;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
  border-radius: 1rem;
  justify-content: space-around;
  transition: .2s ease-in;
  display: flex;
  flex-direction: column; }
  @media (max-width: 95em) {
    .popup {
      transform: translate(-30%, -50%);
      width: 60rem;
      height: 43rem; } }
  @media (max-width: 56.25em) {
    .popup {
      width: 50rem;
      height: 60rem;
      transform: translate(-20%, -50%); } }
  @media (max-width: 37.5em) {
    .popup {
      width: 90vw;
      height: 90vh;
      transform: translate(-50%, -50%);
      z-index: 99;
      display: none; } }
  .popup__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    @media (max-width: 37.5em) {
      .popup__wrapper {
        flex-direction: column; } }
  .popup__closer {
    color: #21645b;
    font-size: 2rem;
    cursor: pointer; }
    .popup__closer--1 {
      display: none; }
      @media (max-width: 37.5em) {
        .popup__closer--1 {
          padding-left: 23rem;
          display: inline; } }
      @media (max-width: 22.5em) {
        .popup__closer--1 {
          padding-left: 18rem;
          display: inline; } }
    .popup__closer--2 {
      display: none; }
      @media (max-width: 37.5em) {
        .popup__closer--2 {
          padding-left: 27rem;
          display: inline; } }
      @media (max-width: 22.5em) {
        .popup__closer--2 {
          padding-left: 22rem;
          display: inline; } }
    .popup__closer--3 {
      display: none; }
      @media (max-width: 37.5em) {
        .popup__closer--3 {
          padding-left: 26rem;
          display: inline; } }
      @media (max-width: 22.5em) {
        .popup__closer--3 {
          padding-left: 20rem;
          display: inline; } }
    .popup__closer--4 {
      display: none; }
      @media (max-width: 37.5em) {
        .popup__closer--4 {
          padding-left: 40rem;
          display: inline; } }
      @media (max-width: 22.5em) {
        .popup__closer--4 {
          padding-left: 34rem;
          display: inline; } }
    .popup__closer--6 {
      display: none; }
      @media (max-width: 37.5em) {
        .popup__closer--6 {
          margin-left: 40rem;
          display: inline; } }
      @media (max-width: 22.5em) {
        .popup__closer--6 {
          padding-left: 30rem;
          display: inline; } }
  .popup--1 {
    opacity: 0;
    transition: .2s ease-in; }
    @media (max-width: 37.5em) {
      .popup--1 {
        display: none; } }
  .popup--2 {
    opacity: 0;
    transition: .2s ease-in;
    display: flex;
    flex-direction: column;
    overflow: hidden; }
    @media (max-width: 37.5em) {
      .popup--2 {
        display: none; } }
    .popup--2 hr {
      margin-top: 3rem;
      width: 60%;
      border: 1px solid white; }
    .popup--2__container-1 {
      width: 100%;
      height: 30%;
      background-color: #57c7b9;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .popup--2__container-2 {
      width: 100%;
      height: 70%;
      background-color: #57c7b9;
      display: flex;
      justify-content: center;
      text-align: center; }
      .popup--2__container-2 ul {
        margin-top: 5rem;
        list-style: none; }
        .popup--2__container-2 ul li {
          font-size: 1.5rem;
          font-weight: bold;
          color: white; }
        .popup--2__container-2 ul li:not(:last-child) {
          margin-bottom: 1rem; }
    .popup--2__container-2-half-1 {
      width: 80%;
      height: 80%;
      border-left: 2px solid white;
      border-right: 2px solid white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: center; }
      @media (max-width: 37.5em) {
        .popup--2__container-2-half-1 {
          width: 85%; } }
    .popup--2__container-2-half-2 {
      width: 40%;
      height: 80%;
      border-right: 2px solid white; }
    .popup--2__main {
      color: white;
      width: 100%;
      font-size: 2.5rem;
      font-weight: bold;
      margin-left: 3rem; }
      @media (max-width: 56.25em) {
        .popup--2__main {
          font-size: 2rem;
          padding-left: 2rem; } }
      @media (max-width: 37.5em) {
        .popup--2__main {
          font-size: 1.8rem; } }
  .popup--3 {
    opacity: 0;
    transition: .2s ease-in;
    background-color: #57c7b9;
    display: flex;
    flex-direction: column; }
    @media (max-width: 37.5em) {
      .popup--3 {
        display: none; } }
    .popup--3__footer {
      padding-left: 4rem; }
    .popup--3__heading {
      align-self: flex-start;
      margin-left: 5rem;
      display: flex;
      justify-content: flex-end; }
      @media (max-width: 37.5em) {
        .popup--3__heading {
          font-size: 2rem; } }
    .popup--3 ul li {
      padding-left: 4rem; }
    .popup--3 ul li:not(:last-child) {
      padding-bottom: 3rem; }
  .popup--4 {
    opacity: 0; }
    .popup--4__icon {
      width: 20%;
      height: 80%; }
      @media (max-width: 56.25em) {
        .popup--4__icon {
          width: 50%;
          margin-left: 2rem; } }
      @media (max-width: 37.5em) {
        .popup--4__icon {
          margin: 0; } }
    .popup--4__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      @media (max-width: 37.5em) {
        .popup--4__wrapper {
          flex-direction: column; } }
    .popup--4__icon-container {
      width: 100%;
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 1rem; }
    .popup--4__text {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.3rem;
      text-align: center;
      color: #29AD00;
      font-weight: bold;
      padding-bottom: 30rem; }
      @media (max-width: 95em) {
        .popup--4__text {
          font-size: 2rem; } }
      @media (max-width: 56.25em) {
        .popup--4__text {
          font-size: 2rem; } }
      @media (max-width: 37.5em) {
        .popup--4__text {
          padding-bottom: 15rem;
          margin-right: 2rem; } }
      .popup--4__text--2 {
        color: #0077B5; }
  .popup--5 {
    opacity: 0;
    display: flex; }
    .popup--5__wrapper {
      align-items: center;
      justify-content: center;
      display: flex;
      padding-bottom: 10rem; }
    .popup--5__box {
      height: 20rem;
      width: 50rem;
      background-color: #57c7b9;
      border-radius: 2rem; }
      @media (max-width: 56.25em) {
        .popup--5__box {
          width: 25rem;
          height: 40rem; } }
      @media (max-width: 37.5em) {
        .popup--5__box {
          width: 35rem;
          height: 30rem; } }
    .popup--5__text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%; }
    .popup--5__link {
      text-decoration: none;
      color: white;
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
      transition: .2s ease-in; }
      .popup--5__link:hover {
        transform: scale(1.1);
        transition: .2s ease-in; }
  .popup--6 {
    opacity: 0;
    background-color: #57c7b9;
    color: white;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-around; }
    .popup--6__main {
      font-size: 3rem;
      font-weight: bold;
      padding-bottom: 3.5rem;
      margin-top: 2rem; }
    .popup--6__second-heading {
      margin-top: -1rem;
      margin-bottom: 2rem;
      font-weight: bold; }
    .popup--6__list {
      list-style: none;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      padding-left: 20rem; }
      @media (max-width: 37.5em) {
        .popup--6__list {
          width: 100%;
          padding-left: 10rem; } }
    .popup--6__item:not(:last-child) {
      margin-bottom: 1.2rem; }
  .popup__icon {
    width: 35%;
    height: 80%; }
  .popup__icon-container {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem; }
  .popup__text {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #F04D0F;
    font-weight: bold;
    padding-bottom: 30rem; }
    @media (max-width: 56.25em) {
      .popup__text {
        font-size: 2.5rem; } }
    @media (max-width: 37.5em) {
      .popup__text {
        padding-bottom: 15rem; } }
    .popup__text--2 {
      color: #0077B5; }

.fa-instagram {
  color: #F04D0F; }

.fa-linkedin {
  color: #0077B5; }

.fa-whatsapp {
  color: #29AD00; }

.fa-envelope {
  color: #0077B5; }

.fa-telegram {
  color: #0077B5; }

.fa-store {
  margin-right: 1.5rem; }

.fa-html5 {
  margin-right: 1.5rem; }

.fa-paint-brush {
  margin-right: 1.5rem; }

.fa-database {
  margin-right: 1.5rem; }

.fa-node-js {
  margin-right: 1.5rem; }

.navbutton {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  top: 4rem;
  left: 11.6rem;
  align-items: center;
  justify-content: center;
  z-index: 3;
  display: flex;
  flex-direction: column;
  transition: .2s  ease-in;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  @media (max-width: 37.5em) {
    .navbutton {
      top: 3.5rem;
      left: 5rem;
      z-index: 10000; } }
  .navbutton--1 {
    width: 3rem;
    height: 3rem;
    background-color: white;
    position: fixed;
    top: 5rem;
    left: 12rem;
    z-index: 1;
    transition: .1s ease-in;
    opacity: 0;
    background-color: #57c7b9; }
  .navbutton__icons {
    margin-top: 2rem;
    color: #0077B5; }
    @media (max-width: 37.5em) {
      .navbutton__icons {
        margin-top: .5rem; } }
  .navbutton__background {
    font-size: 1rem;
    color: black;
    height: 85vh;
    position: fixed;
    width: 28.5rem;
    z-index: 10;
    left: 0;
    top: 15%;
    opacity: 0;
    display: flex;
    flex-direction: column; }
    @media (max-width: 56.25em) {
      .navbutton__background {
        justify-content: center !important;
        align-items: flex-end; } }
    @media (max-width: 37.5em) {
      .navbutton__background {
        z-index: 999;
        height: 90vh;
        width: 100%;
        justify-content: center; } }
    .navbutton__background ul {
      margin-top: -4rem;
      display: flex;
      flex-direction: column;
      padding-top: 0;
      width: 100%;
      text-align: center;
      height: 85vh;
      overflow: hidden;
      list-style: none; }
      @media (max-width: 56.25em) {
        .navbutton__background ul {
          margin-top: 2rem;
          margin-left: -.5rem; } }
      @media (max-width: 37.5em) {
        .navbutton__background ul {
          align-items: center;
          margin-top: 6rem;
          overflow: visible;
          height: 85vh;
          margin-bottom: 9rem; } }
      @media (max-width: 22.5em) {
        .navbutton__background ul {
          transform: scale(0.65) !important; } }
      .navbutton__background ul li {
        color: white !important;
        font-size: 2rem;
        margin-top: 2.5rem;
        width: 100%;
        letter-spacing: 1px;
        padding: 1rem 0;
        cursor: pointer; }
        @media (max-width: 95em) {
          .navbutton__background ul li {
            padding: .75rem;
            margin-top: 1.5rem; } }
        @media (max-width: 56.25em) {
          .navbutton__background ul li {
            padding: .5rem;
            margin-top: 1rem; } }
        @media (max-width: 37.5em) {
          .navbutton__background ul li {
            padding: .5rem;
            margin-top: .5rem;
            font-size: 1.5rem; }
            .navbutton__background ul li a {
              background-color: #3ab1a2;
              border-radius: 1rem;
              padding: .5rem; } }
        @media (max-width: 22.5em) {
          .navbutton__background ul li {
            padding: .5rem;
            margin-top: .2rem; } }
        .navbutton__background ul li:hover {
          background-color: #3ab1a2;
          transform: scaleX(1) scaleY(1.05) !important; }
  .navbutton:hover {
    transform: scale(1.15);
    box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.1); }
  .navbutton__line {
    width: 60%;
    height: 3px;
    background-color: #57c7b9;
    position: relative;
    border-radius: 2rem;
    z-index: 2;
    transition: .2s ease-in; }
  .navbutton__line:not(:last-child) {
    margin-bottom: 0.5rem; }
  .navbutton:hover .navbutton__line--2 {
    transform: scale(1.1);
    transition: .2s ease-in; }
  .navbutton:hover .navbutton__line--1 {
    transform: scaleX(1.1) translateY(-0.2rem);
    transition: .2s ease-in; }
  .navbutton:hover .navbutton__line--3 {
    transform: scaleX(1.1) translateY(0.2rem);
    transition: .2s ease-in; }

.move-down {
  transform: translateX(-50%) rotate(-45deg) !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transition: .1s 2s ease-in; }

.move-up {
  transform: translateX(-50%) rotate(45deg) !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .1s 2s ease-in;
  transform-origin: center center; }

.display-toggle {
  display: none; }

.navtainer {
  transform: scaleX(10) scaleY(70);
  transition: transform .1s ease-in opacity .01s ease-in;
  opacity: 1; }
  @media (max-width: 37.5em) {
    .navtainer {
      transform: scaleX(31) scaleY(84);
      z-index: 10; } }

.language {
  position: fixed;
  top: 3.3rem;
  right: 37rem;
  z-index: 999;
  height: 6rem;
  width: 6rem;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 1.4rem; }
  @media (max-width: 95em) {
    .language {
      right: 20rem; } }
  @media (max-width: 56.25em) {
    .language {
      right: 10rem; } }
  @media (max-width: 37.5em) {
    .language {
      left: 31.6rem; } }
  @media (max-width: 22.5em) {
    .language {
      left: 50%;
      padding-bottom: 3rem;
      transform: translate(-50%, 0); } }
  .language__option {
    cursor: pointer;
    background-color: #57c7b9;
    padding: 1.5rem 1rem;
    transition: .2s ease-in;
    color: white;
    font-weight: bold;
    letter-spacing: 1px; }
    .language__option--1 {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      border-right: 2px solid #3ab1a2;
      opacity: .999; }
    .language__option--2 {
      border-right: 2px solid #3ab1a2;
      opacity: .999; }
    .language__option--3 {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      opacity: .999; }
    .language__option:hover {
      background-color: #3ab1a2;
      transition: .2s ease-in; }

.header {
  height: 100vh;
  width: 100vw;
  background-color: #7DD4C9;
  position: relative; }
  .header__navbar {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; }
  .header__nav-item {
    padding: 5rem 6rem; }
    .header__nav-item ul {
      display: flex;
      list-style: none;
      text-decoration: none; }
      @media (max-width: 37.5em) {
        .header__nav-item ul {
          display: none; } }
      .header__nav-item ul li {
        text-decoration: none;
        color: white;
        transition: .2s ease-in;
        position: relative; }
        .header__nav-item ul li a {
          padding: 1rem 2.5rem;
          position: relative;
          background-color: #57c7b9; }
        .header__nav-item ul li:hover {
          transform: scale(1.1);
          transition: .2s ease-in; }
      .header__nav-item ul li:first-child a {
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem; }
      .header__nav-item ul li:last-child a {
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem; }
  .header__icon {
    margin-left: 2rem;
    transition: .2s ease-in; }
    .header__icon:hover {
      transform: scale(1.4);
      transition: .2s ease-in; }
  .header__nav-item--2 {
    animation: navbarin 2s  ease-in; }
    @media (max-width: 56.25em) {
      .header__nav-item--2 {
        display: none; } }
  .header__brand {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    animation: brandfade 1s ease-in;
    opacity: 0; }

.infobox {
  top: 50%;
  right: 19rem;
  position: fixed;
  background-color: #57c7b9;
  width: 35rem;
  height: 50rem;
  z-index: 5;
  border-radius: .5rem;
  transform: translate(0, -50%); }
  @media (max-width: 95em) {
    .infobox {
      display: none; } }
  @media (max-width: 37.5em) {
    .infobox {
      display: inline;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 25rem;
      height: 35rem; } }
